body {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    background-image: url(cork-board.jpg);    
}
.wrapper {
    max-width: 50%;
    margin: 5% auto 0 auto;
    background-color: white;
    padding: 3% 5% 5% 5%;
    border-radius: 4% 4% 0 0;  
}
h1 {
    margin-top: 13%;
    color: #DE2DAE;
}
h2 {
    margin-top: 8%;
    margin-bottom: 1.7%;
}
.button {
    background-color: #DE2DAE;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
    margin-top: 3%;
    cursor: pointer;
}
p {
    margin: 2%;
    
}
.top_wrap_1 {
    padding-right: 5%;
    float: left;
}
.top_wrap_2 {
    float: left
}
.clear {
    clear: both;
}

table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 80%;
    
}
th, td {
    padding: 2%;
}
th {
    font-weight: 700;
    color: #DE2DAE;
}
.footer {
    max-width: 50%;
    margin: 0 auto 5% auto;
    background-color: black;
    padding: 2% 5% 2% 5%;
      
}
.footer_text {
    color: white;
}